html{
     background-color: rgba(137, 105, 82, 0.75); 

    font-family: 'Raleway', sans-serif;
    display: flex;
}
body {
    width: 100%;
}
 a:hover {
    font-weight: bold;
} 
a {
    text-decoration: none
}
.modal {
    background-color: none;
    width: 60% !important;
}
 .home{
    position: relative;
    width: 100%;
} 
 /* header {
    position: absolute;
    z-index: 1;
    top: 5%;
    left: 2%;
}  */
/* .header-nav li {
    display: inline-block;
    font-size: 30px;
    color: #f2f2f2;
    padding-right: 8px;
} */
li a {
    color: #572c33;
}
.social{
    position: fixed;
    left: 25px;
    bottom: 125px;
    z-index:1;
    /* opacity: 0.5; */
    
}

/* .homeContent {
    width: 40%;
    position: absolute;
    right: 10%;
    bottom: 15%;
    font-weight: bold; 
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    border: 4px solid #572c33;
    color:rgba(228, 221, 221, 0.9);
    background-color: rgba(137, 105, 82, 0.75);
    z-index: 1;
} */

.homeContent {
    background-color: rgba(87, 44, 51, 0.8);
    width: 100% !important;
    position: absolute;
    z-index: 1;
    color:rgba(228, 221, 221, 0.9);
    bottom: 18%;

}

.homeContent h1 {
     font-size: 90px; 
    font-weight: bold;
    font-family: 'Sacramento', cursive;
}
.homeContent h2 {
     font-size: 40px; 
    margin-top: 2px; 
    margin-bottom: 10px;
}

section {
    background-color: rgba(228, 221, 221, 0.8);
    /* border: 5px solid #572c33; */
    margin-bottom: 40px;
}

.bodyTopics {
    align-content: center;
    justify-content: center;
    
    padding-right: 4%;
    padding-left: 4%;
    padding-top: 2%;
    padding-bottom: 2%;
    
    margin-right: 6%;
    margin-left: 6%; 
    margin-top: 3%;
    bottom: 2%;
    color: #572c33;
}
/* Coverr  */
.poster {
    display: none;
}
.video-container {
    background-color: transparent !important;
}

/* Side Nav Bar   */
.side-nav .divider {
    margin:0 !important;
    background-color: rgba(0,0,0,0.75);
}
.side-nav {
    background-color: #e4dddd !important;
    font-family: 'Raleway', sans-serif;
    width: 280px !important;
}
#navIcon {
    color: #572c33 !important;
    position: fixed;
    left: 25px;
    top: 20px;
}
.user-view{
    padding: 28px 28px 0 !important;
}
.user-view h4 {
    color: #e4dddd !important;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
}
#sidenav-overlay {
    z-index: 0 !important;
}
.side-nav .user-view .circle, .side-nav .userView .circle {
    height: 85px !important;
    width: 85px !important;
}
.side-nav .user-view .background, .side-nav .userView .background {
    height: 230px !important;
}
/* About Section  */
#about {
    align-content: center;
    justify-content: center;
    display: flex;
}

#headshot-col {
    display: block;
     display: flex; 
     width: 30%;
}
.headshot {
    border-radius: 50%;
    align-items: center;   
    height: 250px;
    width: 250px;
    margin: auto;
}
#aboutMeInfo-col {
    padding-top: 2%;
    display: block;
    max-width: 800px;
    color: #572c33;
    width: 70%;
    padding-left: 5%;
}

#aboutMeInfo-col h1{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
}
#aboutMeInfo-col p{
    font-size: 20px;
    padding-left: 10px;
    line-height: 1.5;
}


#aboutMeInfo-col li {
    padding-bottom: 10px;
    padding-left:10px;
    font-size: 20px;
}
.icon {
    width: 30px;
    height: 30px;
    margin-top: 5px;
    margin-right: 5px;
    opacity: 0.75;
}

/* Resume Section */
.collapsible {
    border:0 !important;
}
.collapsible-header{
    background-color: #572c33 !important;
    /* border-top: 1px solid #572c33;
    border-right: 1px solid #572c33;
    border-left: 1px solid #572c33; */
    color: #e4dddd;
    padding-left: 20px;
}
.collapsible-body {
    background-color: rgba(156, 127, 127, 1);
    color: #e4dddd;
}
#resume li a {
    color: #e4dddd;
}
#resume {
    color: #572c33;
}
#last, .collapsible-body{
    border-bottom: 0 !important;
}
.topics {
    display: flex;
}
.category {
    font-weight: bold;
    font-size: 70px;
    width: 30%;
    font-family: 'Sacramento', cursive;
    display: inline-block;
    align-self: flex-start;
}

.block{
    margin-bottom: 20px;
    margin-top : 20px;
}
.block h1 {
    margin: 0;
}
 .blockContainer {
    margin: 0px;
    margin-top: 2em;
    width: 90%;
    
    display: inline-block;
    align-self: flex-start;
    padding-left: 5%;
} 

#texas {
    margin-bottom: 20px;
}
.block h1, .block h1 a {
    font-size: 30px;
    font-weight: bold; 
    /* color: #572c33; */
}

.block h1 a:hover {
    font-size: 32px;
    text-decoration: underline;
}

.block .subheading {
    font-size: 20px;
    line-height: 1.5;
    font-style: italic;
    display: inline-block;
    padding-left: 2%;
}
.block span em {
    display: inline-block;
}

.block p {
    line-height: 1.5;
    font-size: 18px;
    padding-left: 5%;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 4px solid #572c33;
    margin-bottom: 50px;
    padding: 0;
}
.resumehr {
    display: none;
}

/*  works/projects  */

.slider img {
    /* height: 550px !important; */
    /* max-width: 1122px; */
    height: 100%;
    width: 100%;
}
.slider{
    height:550px !important;
    background-color: #572c33;
    border: 5px solid #572c33;
}
ul .slides {
    height: 500px !important;
}
.slider .slides {
    height: 500px !important;
}

.indicators {
    padding:5px;
    /* margin-bottom: 10px; */
    bottom: 10px !important; 
}
.slider .indicators .indicator-item.active {
    background-color: rgba(250, 249, 249, 1) !important;
}
.slider .indicators .indicator-item {
    background-color:rgba(156, 127, 127, 1) !important;
}

/* #works {
    padding: 5%;
}
 #works .topics {
    flex-direction: column;
 }
#projects {
    display: block;
    max-width: 170px;
} */
/* .carousel{
    height: 700px !important;
    perspective: 1000px !important;
    top: -100px;
}
.initialized {
    max-height: 800px !important;
    } */
/* #projects{
    margin: auto;
    font-family: 'Sacramento', cursive;
    justify-content: center;
}

.btn {
    padding: 0 !important;
    box-shadow: 0;
    background-color: transparent !important;
} */
 /* .carousel img {
      height: 100%; 
     width:100%; 
    height: 400px;
    width:400px; 
}  */

 .modal {
    background-color: transparent;
    background-color: #572c33 !important;
    height:750px;
}
.modal-content {
    color: #e4dddd;
    background-color: #572c33;
    font-family: 'Raleway', sans-serif;
    padding: 20px !important;

}
.modal h4 {
    font-size: 35px;
    font-weight: bold;
}
.modal p {
    font-size: 18px;
}
.imageContainer{
    width: 100%;
}
.modalImg {
    max-height: 350px;
    border: 4px solid #e4dddd;
    display: block;
    margin: auto;
}

.modal ul li{
    display: inline-block;
}

i {
    font-size: 30px !important;
}
.learnMore {
    margin: auto;
    padding: 0 !important;
}

.learnMore a {
    color: #572c33;
    padding-top: 5px;
}
i:hover {
    font-weight: bold;
}
.liveLink {
    font-size: 18px;
}
.liveLink a{
    color:  #e4dddd;
}
.liveLink a:hover{
    font-weight: bold;
    font-size: 20px;
} 

/* Contact Modal */
#contact h2 {
    font-size: 40px;
}
#contact h4 {
    font-size: 30px;
}
#contact p {
    line-height: 1.5;
}
#contactLinkContainer {
     width: 100%; 
 
     display: flex;
     justify-content: center;
}
.contactMe {
    color:  #e4dddd; 
    border: 1px solid #e4dddd;
    padding: 3px;
    margin: auto;
}
#contact a:hover {
    background-color: rgb(87, 44, 51, 0.5);
    font-size: 120%;
}
.modalClose a {
    color: #e4dddd;
    position: absolute;
    top: 20px;
    right: 20px;
    margin: 0 !important;
}
.modalClose a:hover {
    font-weight: bold;
    font-size: 120%;

}

/* Media Queries */

@media screen and (max-width: 1300px){
    .modal h4 {
        font-size: 30px;
    }
    .modal p {
        font-size: 15px;
    }
}
@media screen and (max-width: 1270px){
     .homeContent h1{
        font-size: 86px;
    } 
}
@media screen and (max-width: 1210px){
      .homeContent h1{
        font-size: 84px;
    } 
    /* .homeContent {
        margin: auto;
        position: relative;
        right:0;
        margin-top: 20%;
    }  */
    header {
        /* position: relative; */
        width: 100%;
        
    } 
    .header-nav {
        margin: auto;
    }    
}
@media screen and (max-width: 1175px){
     .homeContent h1{
        font-size: 81px;
    } 
  
}
@media screen and (max-width: 1160px){
     .homeContent h1{
        font-size: 84px;
    } 
}
@media screen and (max-width: 1050px){
   .modalImg {
       width: 100%;
   }
}
@media screen and (max-width: 999px){
     .homeContent h2 {
        font-size: 35px;
    } 
    /* .header-nav li a {
        color: #e4dddd;
    } */
    /* header{
        width: 100%;
        left:0;
    }
    .header-nav{
       padding-left: 21% !important;
    } */
    #about {
        display: flex;
        flex-direction:column;
        justify-content: center;
    }
    #headshot-col {
        width:100%;
         justify-content: center;
    }
    #aboutMeInfo-col {
        width:100%;
    }
    .topics {
        flex-direction:column;
    }
    .category {
        display: flex;
        width: 100%;
        justify-content: center;
    }
    .category h1 {
        margin: 0;
    }
    .blockContainer {
        margin:auto;
        padding:0;
    }
    .resumehr, hr{
        display: block; 
        padding:0;
        margin: 0;
        margin-bottom: 30px;
    }
    #projects h1 {
        margin-bottom:0;
    }
    .projectCarousel .block {
        margin:0;
    }
     video {
        height: 100% !important;
    }
    .coverr {
        height: 600px;
    }
    .video-container{
        height: 600px !important;
        padding:0 !important;
    }  
}
@media screen and (max-width: 955px){
    .header-nav{
       padding-left: 20% !important;
    }
   
}
 @media screen and (max-width: 923px){
    .header-nav{
       padding-left: 18% !important;
    }
}

@media screen and (max-width: 878px){
    .header-nav{
       padding-left: 17% !important;
    }
    .modalImg {
        width: 100%;
    }
} 

@media screen and (max-width: 830px){
    .header-nav{
       padding-left: 16% !important;
    }
} 

@media screen and (max-width: 788px){
    #name {
        font-size: 80px;
    }
     .homeContent h2 {
        font-size: 32px;
    } 
    .header-nav{
       padding-left: 14% !important;
    }
} 
@media screen and (max-width: 750px){
    #name {
        font-size: 78px;
    }
    .header-nav{
       padding-left: 13% !important;
    }
    
    #headshot-col {
        margin-bottom: 20px;
    }
    #aboutMeInfo-col h1{
        margin:0;
        font-size: 27px;
    }
     #aboutMeInfo-col p, #aboutMeInfo-col li{
        font-size: 18px;
    }
  
    /*resume */
    .category h1 {
        font-size: 60px;
    }
    .blockContainer {
        width: 100%;
    }
    .block {
        margin-top: 0; 
    }
    .block h1, .block h1 a{
        margin:0;
        line-height:1;
        font-size: 27px;
        margin-bottom: 10px;
    }
     .block h1 a:hover {
        font-size: 21px;
    }
    .block p {
        font-size:18px !important;
    }
    .block .subheading {
        display: inline-block;
    }
    /*works  */
    .initialized {
        height: 260px !important;
    }
    .modal {
        width:90% !important;
        max-height: 80% !important;
        top: 5%;
    }
    .modal-content h4{
        font-size: 20px;
    }
   .modal-content p {
        font-size: 12px;
    }
}
  
  @media screen and (max-width: 733px){
    #name {
        font-size: 75px;
    }
     .homeContent h2 {
        font-size: 30px;
    } 
    /* .header-nav{
       padding-left: 12% !important;
    } */
}    
 @media screen and (max-width: 704px){
    #name {
        font-size: 72px;
    }
     .homeContent h2 {
        font-size: 28px;
    } 
     video {
        height: 100% !important;
    }
    .coverr {
        height: 500px;
    }
    .video-container{
        height: 500px !important;
        padding:0 !important;
    }  
}  

 @media screen and (max-width: 675px){
    #name {
        font-size: 70px;
    }
     .homeContent h2 {
        font-size: 26px;
    } 
}  
 @media screen and (max-width: 655px){
    #name {
        font-size: 60px;
    }

      /* .header-nav{
       padding-left: 12% !important;
    } */
} 
 @media screen and (max-width: 654px){
      /* .header-nav{
       padding-left: 10% !important;
    } */

     .homeContent h2{
        margin-top :10px;
        margin-bottom: 10px;
    } 
    #contact h2 {
        font-size: 30px;
    }
    #contact h4 {
        font-size: 25px;
    }
    #contact p {
        font-size: 18px;
    }
} 
 @media screen and (max-width: 587px){
     .homeContent h1{
        font-size: 56px;
    } 
  
      /* .header-nav{
       padding-left: 9% !important;
    } */
} 
 @media screen and (max-width: 566px){
    #name{
        font-size: 53px;
        margin: 3%;
    }
     .homeContent h2 {
        margin: 3%;
    } 

      /* .header-nav{
       padding-left: 7% !important;
    } */
} 
 @media screen and (max-width: 530px){
    #name {
        font-size: 48px;
    }
     .homeContent h2 {
        font-size: 23px;
    } 
    .social, #navIcon{
        left: 3%;
    }
    #navIcon {
        top:2%;
    }
    .bodyTopics {
        margin-right: 3%;
    }
    video {
        height: 100% !important;
    }
    .coverr {
        height: 450px;
    }
    .video-container{
        height: 450px !important;
        padding:0 !important;
    }  
} 
 @media screen and (max-width: 485px){
    #name {
        font-size: 45px;
    }
     .homeContent h2 {
        font-size: 20px;
    } 
    .headshot {
        height: 150px;
        width: 150px;
    }
     #aboutMeInfo-col h1{
        font-size: 24px;
        margin-top: 10px;
        margin-bottom:0;
    }
    #aboutMeInfo-col p{
        padding-left: 10px;
        font-size: 18px;
    }
     #aboutMeInfo-col li{
        padding-left: 10px;
        font-size: 18px;
    }
     #aboutMeInfo-col li a{
        padding-left: 2%;
        padding-right: 2%;
    }
    .category h1 {
        font-size: 50px;
    }
    .block h1, .block h1 a{
        font-size: 23px;
    }
     .block h1 a:hover {
        font-size: 24px;
    }
    .block p {
        font-size:15px !important;
    }

} 
  @media screen and (max-width: 436px){
    #contact h2 {
        font-size: 20px;;
    }
    #contact h4 {
        font-size: 15px;
    }
    #contact p {
        font-size: 12px;
    }
    #contact a {
        font-size: 12px;
    }
}  
 @media screen and (max-width: 430px){
    #name {
        font-size: 42px;
    }
     .homeContent h2 {
        font-size: 17px;
    } 
} 
 @media screen and (max-width: 400px){
     /* video {
        height: 100% !important;
    }
    .coverr {
        height: 300px;
    }
    .video-container{
        height: 300px !important;
        padding:0 !important;
    }   */
} 

@media screen and (max-width: 376px){
    #name {
        font-size: 38px;
    }
     .homeContent h2 {
        font-size: 15px;
    } 
    /* video {
        height: 100% !important;
    }
    .coverr {
        height: 300px;
    }
    .video-container{
        height: 300px !important;
        padding:0 !important;
    }  */
} 
 @media screen and (max-width: 330px){
    #contact h2 {
        font-size: 15px;;
    }
    #contact h4 {
        font-size: 12px;
        margin: 0;
    }
    #contact p {
        font-size: 12px;
    }
    #contact a {
        font-size: 10px;
    }
     /* video {
        height: 100% !important;
    }
    .coverr {
        height: 300px;
    }
    .video-container{
        height: 300px !important;
        padding:0 !important;
    }  */
}  

/*iPhone screen size  */
@media screen and (max-width: 320px){
     video {
        height: 100% !important;
    }
    .coverr {
        height: 300px;
    }
    .video-container{
        height: 300px !important;
        padding: 0 !important;
    }   
    .slider {
        height:350px !important;
    }
    .slider .slides {
        height:300px !important;
    }
    #name {
        font-size: 39px;
        margin: 0px;
        margin-top: 10px;
    }
    .homeContent h2 {
        font-size: 18px;
        margin: 10px;
    } 
    #headshot-col{
        margin-bottom: 0;
        margin-top: 10px;
    }
    .headshot {
        height: 100px;
        width: 100px;
    }
    .bodyTopics {
        margin-right: 10% !important;
        margin-left: 10% !important;
        margin-bottom: 0;
    } 
    #aboutMeInfo-col {
        padding:0;
    }
    #aboutMeInfo-col h1{
        font-size: 20px;
        margin-top: 10px;
        margin-bottom:0;
    }
    #aboutMeInfo-col p{
        padding-left: 10px;
        font-size: 12px;
    }
     #aboutMeInfo-col li{
        padding-left: 10px;
        font-size: 12px;
    }
     #aboutMeInfo-col li a{
        padding-left: 2%;
        padding-right: 2%;
    }
     .social, #navIcon{
        left: 2%;
    }
    #navIcon {
        top: 1% !important;
    }
    .social {
        bottom: 15px !important;
    }
    .social img {
        height: 20px !important;
        width: 20px !important;
    }
    .modal {
        /* height: 440px; */
        height: 50%;
    }
    /*resume */
    .category h1 {
        font-size: 40px;
    }
    .block h1, .block h1 a{
        font-size: 20px;
    }
     .block h1 a:hover {
        font-size: 21px;
    }
    .block p {
        font-size:12px !important;
    }
  
    /* Works */
    /* #works {
        height: 50%;
    } */


}