html{
    background-color: rgba(137, 105, 82, 0.75);
    font-family: 'Raleway', sans-serif;
    display: flex;
}
#sidenav-overlay {
    z-index: 0 !important;
}

 a:hover {
    font-weight: bold;
} 
a {
    text-decoration: none
}
.modal {
    background-color: none;
    width: 60% !important;
}
 .home{
    position: relative;
    width: 100%;
} 
 header {
    position: absolute;
    z-index: 1;
    top: 5%;
    left: 2%;
} 
.header-nav li {
    display: inline-block;
    font-size: 30px;
    color: #f2f2f2;
    padding-right: 8px;
}
li a {
    color: #572c33;
}
.social{
    position: fixed;
    left: 25px;
    bottom: 20px;
    opacity: 0.5;
}

.homeContent {
    width: 40%;
    position: absolute;
    right: 10%;
    bottom: 15%;
    font-weight: bold; 
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    border: 4px solid #572c33;
    color:rgba(228, 221, 221, 0.9);
    background-color: rgba(137, 105, 82, 0.75);
    z-index: 1;
}
.homeContent h1 {
    font-size: 90px;
    font-weight: bold;
    font-family: 'Sacramento', cursive;
}
.homeContent h2 {
    font-size: 40px;
}

section {
    background-color: rgba(228, 221, 221, 0.8);
    border: 5px solid #572c33;
    margin-bottom: 40px;
}

.bodyTopics {
    align-content: center;
    justify-content: center;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 2%;
    margin-right: 14%;
    margin-left: 14%; 
    margin-top: 5%;
    color: #572c33;
}
/* Coverr  */
.poster {
    display: none;
}
.video-container {
    background-color: transparent !important;
}

/* Side Nav Bar   */
.side-nav .divider {
    margin:0 !important;
    background-color: rgba(0,0,0,0.75);
}
.side-nav {
    background-color: #e4dddd !important;
    font-family: 'Raleway', sans-serif;
    width: 280px !important;
}
#navIcon {
    color: #572c33 !important;
    position: fixed;
    left: 25px;
    top: 20px;
}
.user-view{
    padding: 28px 28px 0 !important;
}
.user-view h4 {
    color: #e4dddd !important;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
}

.side-nav .user-view .circle, .side-nav .userView .circle {
    height: 85px !important;
    width: 85px !important;
}
.side-nav .user-view .background, .side-nav .userView .background {
    height: 230px !important;
}
/* About Section  */
#about {
    align-content: center;
    justify-content: center;
    display: flex;
}

#headshot-col {
    display: block;
     display: flex; 
     width: 30%;
}
 
#aboutMeInfo-col {
    display: block;
    max-width: 800px;
    color: #572c33;
    width: 70%;
    padding-left: 5%;
}

#aboutMeInfo-col h1{
    font-size: 40px;
}

#about h1{
    font-weight: bold;
}

#aboutMeInfo-col p{
    font-size: 20px;
    padding: 10px;
    line-height: 1.5;
}
.headshot {
    border-radius: 50%;
    align-items: center;   
    height: 200px;
    width:200px;
}

#aboutMeInfo-col li {
    padding-bottom: 10px;
    padding-left:10px;
    font-size: 20px;
}
.icon {
    width: 30px;
    height: 30px;
    margin-top: 5px;
    margin-right: 5px;
    opacity: 0.75;
}

/* Resume Section */
#resume {
    color: #572c33;
}
.topics {
    display: flex;
}
.category {
    font-weight: bold;
    font-size: 70px;
    width: 30%;
    font-family: 'Sacramento', cursive;
    display: inline-block;
    align-self: flex-start;
}

.block{
    margin-bottom: 20px;
    margin-top : 20px;
}
 .blockContainer {
    width: 70%;
    margin: 0px;
    display: inline-block;
    align-self: flex-start;
    padding-left: 5%;

} 

#texas {
    margin-bottom: 20px;
}
.block h1, .block h1 a {
    font-size: 30px;
    font-weight: bold; 
    color: #572c33;
}

.block h1 a:hover {
    font-size: 32px;
    text-decoration: underline;
}

.block .subheading {
    font-size: 20px;
    line-height: 1.5;
    font-style: italic;
    display: inline-block;
    padding-left: 2%;
}
.block span em {
    display: inline-block;
}

.block p {
    line-height: 1.5;
    font-size: 18px;
    padding-left: 5%;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 4px solid #572c33;
    margin-bottom: 50px;
    padding: 0;
}
.resumehr {
    display: none;
}

/*  works/projects  */
#works {
    padding-top: 2%;
}
 #works .topics {
    flex-direction: column;
 }
#projects {
    display: block;
    max-width: 170px;
}
.carousel{
    height: 400px;

}
#projects{
    margin: auto;
    font-family: 'Sacramento', cursive;
    justify-content: center;
}

.btn {
    padding: 0 !important;
    box-shadow: 0;
    background-color: transparent !important;
}
.carousel img {
    height: 100%;
    width:100%;
}

.modal {
    background-color: transparent;
    background-color: #572c33 !important;
}
.modal-content {
    color: #e4dddd;
    background-color: #572c33;
    font-family: 'Raleway', sans-serif;
    padding: 20px !important;

}
.modal h4 {
    font-size: 35px;
    font-weight: bold;
}
.modal p {
    font-size: 18px;
}
.imageContainer{
    width: 100%;
}
.modalImg {
    /* width: 70%; */
    max-height: 350px;
    border: 4px solid #e4dddd;
    display: block;
    margin: auto;
}

.modal ul li{
    display: inline-block;
}

i {
    font-size: 30px !important;
}
.learnMore {
    margin: auto;
    padding: 0 !important;
}

.learnMore a {
    color: #572c33;
    padding-top: 5px;
}
i:hover {
    font-weight: bold;
}
.liveLink {
    font-size: 18px;
}
.liveLink a{
    color:  #e4dddd;
}
.liveLink a:hover{
    font-weight: bold;
    font-size: 20px;
}

/* Contact Model */
#contact h2 {
    font-size: 40px;
}
#contact h4 {
    font-size: 30px;
}
#contact p {
    line-height: 1.5;
}
#contactLinkContainer {
     width: 100%; 
 
     display: flex;
     justify-content: center;
}
.contactMe {
    color:  #e4dddd; 
    border: 1px solid #e4dddd;
    padding: 3px;
    margin: auto;
}
#contact a:hover {
    background-color: rgb(87, 44, 51, 0.5);
    font-size: 120%;
}
.modalClose a {
    color: #e4dddd;
    position: absolute;
    top: 20px;
    right: 20px;
    margin: 0 !important;
}
.modalClose a:hover {
    font-weight: bold;
    font-size: 120%;

}

/* Media Queries */

@media screen and (max-width: 1600px){
    .homeContent {
        width: 45%;
    }
}
@media screen and (max-width: 1350px){
    .homeContent {
        width: 47%;
    }
}
@media screen and (max-width: 1300px){
    .modal h4 {
        font-size: 30px;
    }
    .modal p {
        font-size: 15px;
    }
}
@media screen and (max-width: 1270px){
    .homeContent h1{
        font-size: 86px;
    }
}
@media screen and (max-width: 1210px){
    .homeContent h1{
        font-size: 84px;
    }
    .homeContent {
        margin: auto;
        position: relative;
        right:0;
        margin-top: 20%;
    }
    header {
        /* position: relative; */
        width: 100%;
        
    } 
    .header-nav {
        margin: auto;
    }    
}
@media screen and (max-width: 1175px){
    .homeContent h1{
        font-size: 81px;
    }
    .homeContent {
        width: 51%;
    }
}
@media screen and (max-width: 1160px){
    .homeContent h1{
        font-size: 84px;
    }
}
@media screen and (max-width: 1130px){
   .homeContent {
        width: 53%;
    }
}
@media screen and (max-width: 1090px){
   .homeContent {
        width: 54%;
    }
}
@media screen and (max-width: 1050px){
   .modalImg {
       width: 100%;
   }
}
@media screen and (max-width: 1030px){
    .homeContent {
        width: 56%;
    }
}
@media screen and (max-width: 999px){
  
    .homeContent {
        width: 60%;
    }
    .homeContent h2 {
        font-size: 35px;
    }
    .header-nav li a {
        color: #e4dddd;
    }
    header{
        width: 100%;
        left:0;
    }
    .header-nav{
       padding-left: 21% !important;
    }
    #about {
        display: flex;
        flex-direction:column;
        justify-content: center;
    }
    #headshot-col {
        width:100%;
         justify-content: center;
    }
    #aboutMeInfo-col {
        width:100%;
    }
    .topics {
        flex-direction:column;
    }
    .category {
        display: flex;
        width: 100%;
        justify-content: center;
    }
    .category h1 {
        margin: 0;
    }
    .blockContainer {
        margin:auto;
        padding:0;
    }
    .resumehr, hr{
        display: block; 
        padding:0;
        margin: 0;
        margin-bottom: 30px;
    }
    #projects h1 {
        margin-bottom:0;
    }
    .projectCarousel .block {
        margin:0;
    }
}
@media screen and (max-width: 955px){
    .homeContent {
        width: 60%;
        margin-top: 15%;
    }
    .header-nav{
       padding-left: 20% !important;
    }
   
}
 @media screen and (max-width: 923px){
    .homeContent {
        width: 63%;
    }
    .header-nav{
       padding-left: 18% !important;
    }
}

@media screen and (max-width: 878px){
    .homeContent {
        width: 66%;
    }
    .header-nav{
       padding-left: 17% !important;
    }
    .modalImg {
        width: 100%;
    }
} 

@media screen and (max-width: 830px){
    .homeContent {
        width: 70%;
        margin-top: 15%;
    }
    .header-nav{
       padding-left: 16% !important;
    }
} 

@media screen and (max-width: 788px){
    #name {
        font-size: 80px;
    }
    .homeContent h2 {
        font-size: 32px;
    }
    .header-nav{
       padding-left: 14% !important;
    }
} 
@media screen and (max-width: 750px){
    #name {
        font-size: 78px;
    }
    .header-nav{
       padding-left: 13% !important;
    }
}
@media screen and (max-width: 733px){
    #name {
        font-size: 75px;
    }
    .homeContent h2 {
        font-size: 30px;
    }
    .header-nav{
       padding-left: 12% !important;
    }
} 
@media screen and (max-width: 704px){
    #name {
        font-size: 72px;
    }
    .homeContent h2 {
        font-size: 28px;
    }
    .header-nav{
       padding-left: 11% !important;
    }
} 

@media screen and (max-width: 675px){
    #name {
        font-size: 70px;
    }
    .homeContent h2 {
        font-size: 26px;
    }
    .header-nav{
       padding-left: 14% !important;
       font-size: 25px;
    }
    .header-nav li {
        font-size: 25px;
    }
} 
@media screen and (max-width: 655px){
    #name {
        font-size: 60px;
    }
      .header-nav{
       padding-left: 12% !important;
    }
}
@media screen and (max-width: 630px){
      .header-nav{
       padding-left: 10% !important;
    }
    .homeContent {
        margin-top: 12%;
    }
    #contact h2 {
        font-size: 30px;
    }
    #contact h4 {
        font-size: 25px;
    }
    #contact p {
        font-size: 18px;
    }
}
@media screen and (max-width: 587px){
    .homeContent h1{
        font-size: 56px;
    }
      .header-nav{
       padding-left: 9% !important;
    }
}
@media screen and (max-width: 566px){
    #name{
        font-size: 53px;
        margin: 3%;
    }
    .homeContent h2 {
        margin: 3%;
    }
      .header-nav{
       padding-left: 7% !important;
    }
}
@media screen and (max-width: 545px){
    .header-nav{
       padding-left: 5% !important;
    }
      #contact h2 {
        font-size: 25px;
    }
    #contact h4 {
        font-size: 18px;
    }
    .social, #navIcon {
        left: 4%;
    }
}
@media screen and (max-width: 530px){
    .homeContent {
        width:70%;
    }
    #name {
        font-size: 48px;
    }
    .homeContent h2 {
        font-size: 23px;
    }
}
@media screen and (max-width: 495px){
    #name {
        font-size: 45px;
    }
    .homeContent h2 {
        font-size: 20px;
    }
    .homeContent {
        width:73%;
    }
}
 @media screen and (max-width: 436px){
    #contact h2 {
        font-size: 20px;;
    }
    #contact h4 {
        font-size: 15px;
    }
    #contact p {
        font-size: 12px;
    }
    #contact a {
        font-size: 12px;
    }
    .homeContent {
        width:75%;
    }
} 
@media screen and (max-width: 423px){
    #name {
        font-size: 42px;
    }
    .homeContent h2 {
        font-size: 17px;
    }
}
@media screen and (max-width: 400px){
    .social, #navIcon{
        left: 3%;
    }
    #navIcon {
        top:2%;
    }
    .homeContent {
        width:80%;
        margin-top: 10%;
    }
}
@media screen and (max-width: 376px){
    .homeContent {
        width:85%;
    }
}
@media screen and (max-width: 376px){
    #name {
        font-size: 38px;
    }
    .homeContent h2 {
        font-size: 15px;
    }
    .homeContent {
        padding:0;
        margin-top: 11%;
    }
}
@media screen and (max-width: 365px){
    #contact h2 {
        font-size: 15px;;
    }
    #contact h4 {
        font-size: 12px;
        margin: 0;
    }
    #contact p {
        font-size: 12px;
    }
    #contact a {
        font-size: 10px;
    }
}

/*iPhone screen size  */
@media screen and (max-width: 320px){
    video {
        height: 100% !important;
    }
    .coverr {
        height: 300px;
    }
    .video-container{
        height: 300px !important;
        padding:0 !important;
    }
    .homeContent {
        padding: 5px;
        width: 94%;
        margin-top: 60%;
    } 
    #name {
        font-size: 42px;
    }
    .homeContent h2 {
        font-size: 18px;
    }
    .headshot {
        height: 100px;
        width: 100px;
    }
     .bodyTopics {
        margin-right: 3%;
        margin-bottom: 0;
    } 
    #aboutMeInfo-col {
        padding:0;
    }
    #aboutMeInfo-col h1{
        font-size: 20px;
        margin-top: 10px;
        margin-bottom:0;
    }
    #aboutMeInfo-col p{
        padding-left: 10px;
        font-size: 12px;
    }
     #aboutMeInfo-col li{
        padding-left: 10px;
        font-size: 12px;
    }
     #aboutMeInfo-col li a{
        padding-left: 2%;
        padding-right: 2%;
    }
     .social, #navIcon{
        left: 2%;
    }
    /*resume */
    .category h1 {
        font-size: 40px;
    }
    .blockContainer {
        width: 100%;
    }
    .block {
        margin-top: 0; 
    }
    .block h1, .block h1 a{
        margin:0;
        line-height:1;
         font-size: 20px;
           margin-bottom: 10px;
    }
     .block h1 a:hover {
        font-size: 21px;
    }
    .block p {
        font-size:12px !important;
    }
    .block .subheading {
        display: inline-block;
    }
    /*works  */
    .initialized {
        height: 260px !important;
    }
    .modal {
        width:90% !important;
        max-height: 80% !important;
        top: 5%;
    }
    .modal-content h4{
        font-size: 20px;
    }
   .modal-content p {
        font-size: 12px;
    }
}